#fulllogo{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom:20px;
}

#reglogo{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

#login{
	font-family: 'Kalam', cursive;
	font-size: 150%;
	color: black;
	background-color: #8bcf67d9;
	text-align: center;
	height: 100%;
	width: 111%;
	border-radius: 15px;
	border: none;
	font-weight: bolder;
}

#register {
	font-family: 'Kalam', cursive;
	font-size: 100%;
	margin: 10px auto;
	color: #80847e;
	text-align: center;
}

#login-holder {
	background-color: #8bcf67d9;
	text-align: center;
	height: 100%;
	width: 111%;
	border-radius: 15px;
}

#register-holder{
	text-align: center;
}

.card{
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 25px;
	text-align: center;
	font-family: 'Kalam', cursive;
}

.card-img-top{
	border-radius: 10px 10px 0px 0px;
}

.modal-title{
	font-family: 'Kalam', cursive;
	position: absolute;
  font-size: 20px;
}

.button-close{
	position: absolute;
  right: 25px;
}

form {
	font-family: 'Kalam', cursive;
}

.modal-header {
	background-color: #fe755c;
}

.modal-dialog{
	top: 25%;
}

h2{
	font-family: 'Kalam', cursive;
	text-align: center;
}

.registerinput{
	position: absolute;
	right: 0px;
}

.spacing{
	margin: 5px;
}

#regsubmit{
	display: block;
	margin: 25px auto;
	width: 150px;
	border-radius: 10px;
	background-color: #fe755c;
	border: none;
}

#toprow {
	border-top: 2px solid grey;
	padding-top: 20px;
}

.ecobutton{
	font-family: 'Kalam', cursive;
	text-align: center;
	background-color: #fe755ca1;
	display: inline-block;
	margin: 15px;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #fe755ce6;
}

#ecobutton-holder{
	text-align: center;
}

.eco{
	color:black;
	text-decoration: none;
	font-family: 'Kalam', cursive;
}

#stacklogo{
	display:block;
	margin-right:auto;
	margin-left: auto;
	margin-top: 30px;
  margin-bottom: 20px;
}

p{
	text-align: center;
}

.post{
	display:inline-block;
	margin: 15px;
  width: 160px;
}

#homebuttonholder{
	text-align: center;
}

#ecoholder{
	text-align:center;
	border-top: 3px solid grey;
}

#showbuttons{
	text-align: center;
}

.showme{
	margin: 15px;
	width: 150px;
}

.card-body{
	padding-top: 0px
}

#navbar{
	height:70px;
}

.navbar-header{
	position: absolute;
	top: -10px;
	left: 10px;
}

#maincontainer{
	margin-top: 80px;
}

li a{
	color: black;
}

#pills{
	position: absolute;
	right: 5px;
}

#thumbnailholder{
	border: 2px solid #fe755c9e;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
}

.logheader{
	color: #f74a2b;
	text-decoration: underline;
	font-family: 'Kalam', cursive;
	font-size: 120%;
	font-weight: bolder;
}

#thumbs{
	padding: 5px;
	text-align:center;
}

.thumbs a{
	margin-bottom: 0px;
}

.thumbs img{
	margin: 0px auto;
}

#logbuttons{
	background-color: #fe755cde;
	border: none;
	font-family: 'Kalam', cursive;
	font-size: 140%;
}

#logbuttons:hover{
	border: 2px solid grey;
}

#deletebutton{
	background-color: #ff0000bf;
	border: none;
	font-family: 'Kalam', cursive;
	font-size: 140%;
}

.showoff{
	border-radius: 10px;
	background-color: #8ace66c2;
	border: none;
	font-family: 'Kalam', cursive;
	font-size: 120%;
}

.showoff:hover{
	border: 1px solid green;
}

h4{
	font-family: 'Kalam', cursive;
}

#postholder{
	margin-top:20px;
	font-family: 'Kalam', cursive;
	text-align: center;
}

#postholder img{
	border-radius: 10px;
}

#true{
	border: 5px solid red;
}

.comment-container{
	border: 1px solid grey;
	margin: 15px auto;
	border-radius: 10px;
	width:95%;
}